data
.vscode
*.zip
shape_net_core_uniform_samples_2048
*.ply
modelnet40_ply_hdf5_2048
test
*.png
*.pyc
*.pyo
*.so
*.pyd
model/*
images/*
model_2/*
test.py
*__pycache__
*build
results
